<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!--  Rolling file appender which breaks up the log into 10MB files  -->
	<appender name="rollingFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="browser.log" />
		<param name="MaxFileSize" value="10MB" />
		<!-- Keep at most 100MB of logs -->
		<param name="MaxBackupIndex" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] %-5p %t/%c{1} - %m%n" />
		</layout>
	</appender>
	
	<!--  Control logging verbosity for a specific package or class -->
	
  <logger name="com.owlplatform">
    <level value="debug" />
  </logger>
  <logger name="org.apache">
    <level value="warn" />
  </logger>

	<root>
		<priority value="debug" />
    	<appender-ref ref="rollingFile" />
    <!--
    <appender-ref ref="dailyRollingFile" />
		<appender-ref ref="rollingFile" />
    -->
	</root>
</log4j:configuration>
